/* ------------------------------------------------------------------- */
/* HOME PAGE */
/* ------------------------------------------------------------------- */

/* GLOBAL */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #36454f;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container,
section > .container-lg {
  margin: auto;
  display: block;
  padding: 30px 50px;
}

.section-title {
  margin-bottom: 20px;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

i {
  color: #1167b1;
}

/* BANNER */
#banner {
  /* Background blend hình nền với overlay màu đen */
  background: url(../images/banner.jpg) rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 300px;
  text-align: center;
  padding: 50px;
}

#banner h1 {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 0;
}

#banner p {
  font-size: 24px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 20px;
}

/* NAVBAR */
nav.container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar {
  text-align: center;
}

.navbar-item {
  padding: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.navbar-item a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #202020;
  transition: all 0.3s;
}

.navbar-item a:hover {
  color: #1167b1;
}

.navbar-item:nth-child(2) {
  margin-right: 100px;
}

.navbar-item:nth-child(4) {
  margin-left: 100px;
}

.navbar-item img {
  width: 150px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*ABOUT*/
#about > .container-lg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  line-height: 1.5;
}

#target {
  padding: 100px 50px 30px 50px;
}

#target p {
  text-align: justify;
  font-size: 14px;
  color: #696969;
}
#personal-info {
  background-color: #eee;
  padding: 100px 50px 30px 50px;
}

#personal-info ul li {
  list-style: none;
  text-align: left;
  font-size: 14px;
  color: #696969;
}

#personal-info ul li span {
  font-weight: bold;
  color: #303e4c;
}

#personal-info .social {
  text-align: left;
  margin-top: 20px;
}

#personal-info .social i {
  transition: all 0.3s;
}

#personal-info .social i:hover {
  color: #696969;
}

/* JOB INFO */
.job-info-content {
  height: 100%;
  padding: 40px 20px 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.job-info-item {
  padding: 0 10px;
  margin-bottom: 20px;
}

.job-info-item h4 {
  font-size: 1.3rem;
}

.job-info-title {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 40px;
  align-items: center;
}

.job-info-title i {
  font-size: 40px;
  color: #696969;
}

/* EXPERIENCE, ACTIVITY, EDUCATION */
.experience,
.activity,
.education {
  margin-bottom: 40px;
}

.experience h4,
.activity h4,
.education h4 {
  margin: 5px 0;
}

.experience h4::before,
.activity h4::before,
.education h4::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #1167b1;
  border-radius: 50%;
  margin-right: 10px;
}

.experience p,
.activity p,
.education p {
  color: #696969;
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}

.experience p:first-of-type,
.activity p:first-of-type,
.education p:first-of-type {
  font-style: italic;
  margin-bottom: 10px;
}

.experience .now {
  background-color: #1167b1;
  color: #fff;
  padding: 3px 12px;
  border-radius: 10px;
}

/* SKILL, LANGUAGE */

.bar-blue {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
  margin: 10px 10px 30px 0;
}

.bar-gray {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  margin: 10px 10px 30px 0;
}

/* CERTIFICATE */
.certificate-area {
  display: grid;
  grid-template-columns: 50% 50%;
}

.certificate-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.certificate-item img {
  width: 150px;
  margin-right: 20px;
}

.certificate-detail h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.certificate-detail p {
  color: #696969;
  font-size: 14px;
  margin-bottom: 5px;
}

.certificate-item:first-child {
  border-right: 1px solid #d6c08d;
  margin-bottom: 20px;
}

.certificate-item:nth-child(2) {
  margin-bottom: 20px;
  padding-left: 20px;
}
.certificate-item:last-child {
  grid-column: 1/3;
  border-top: 1px solid #d6c08d;
}

/* HOBBY */
.hobby {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.hobby-item {
  margin-right: 10px;
  text-align: center;
}
.hobby-item p {
  font-size: 14px;
  color: #696969;
}

.hobby-item i {
  color: #1167b1;
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  border: 1px solid #1167b1;
  border-radius: 50%;
}

/* PROJECT */

.project-item {
  padding: 0 10px;
}

.project-img a img {
  width: 100%;
}

.project-title {
  text-transform: uppercase;
  color: #202020;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.project-title a:link,
.project-title a:visited {
  text-decoration: none;
  color: #202020;
}

.project-title a h4 {
  margin-bottom: 0;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.project-title a h4:hover {
  color: #1167b1;
}

.project-status {
  font-size: 14px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.project-status p {
  margin-right: 15px;
  margin-bottom: 0;
}

.project-status p:first-child {
  color: #fff;
  padding: 5px 20px;
  background-color: #1167b1;
  border-radius: 100px;
}

.project-detail {
  height: 200px;
  font-size: 14px;
  border-collapse: collapse;
}

.project-detail tr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.project-detail td {
  text-align: justify;
  padding: 10px;
}

.project-detail td:first-child {
  width: 90px;
}

/* FOOTER */
#footer {
  text-align: center;
}

#footer ul {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer ul li {
  font-size: 14px;
  list-style: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

#footer li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #303e4c;
}

#footer li a i {
  font-size: 30px;
}

#footer li a span {
  transition: all 0.3s;
}

#footer li a span:hover {
  color: #1167b1;
}

@media screen and (max-width: 1399.98px) {
  /* GLOBAL */
  .section-title {
    font-size: 2rem;
  }

  /* JOB-INFO */
  .job-info-title h1 {
    font-size: 2rem;
  }

  /* CERTIFICATE */
  .certificate-detail h4 {
    font-size: 1.25rem;
  }

  /* PROJECT */
  .project-title a h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1199.98px) {
  /* GLOBAL */
  .section-title {
    font-size: 2rem;
  }

  /* JOB-INFO */
  .job-info-title h1 {
    font-size: 1.8rem;
  }

  .job-info-item h4 {
    font-size: 1.25rem;
  }

  /* CERTIFICATE */
  .certificate-detail h4 {
    font-size: 1rem;
  }

  /* PROJECT */
  .project-title a h4 {
    font-size: 0.96rem;
  }

  .project-detail {
    height: 260px;
  }
}

/* PROJECT-CHARTER */
#goals,
#team,
#scopes,
#primary {
  padding: 20px 20px 0 20px;
  background-color: #000fff;
}

.goals,
.team,
.scopes,
.primary,
.timeline {
  background-color: #f0f8ff;
  padding: 20px;
  height: 100%;
}

.goals i,
.team i,
.primary i {
  font-size: 1.5rem;
  color: #202020;
}

.charter-title {
  color: #000fff;
  font-weight: bold;
  font-size: 2rem;
}

/* GOALS */
.goal-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

/* TIMELINE */
#timeline {
  padding: 20px;
  background-color: #000fff;
}

.project-progress p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  background-color: #d6c08d;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 2px solid #202020;
}

.project-progress hr {
  border-top: 2px dotted #000fff;
  background-color: #fff;
}

/* ------------------------------------------------------------------- */
/* DIGITAL-CV PAGE */
/* ------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
  /* GLOBAL */
  #goals,
  #team,
  #scopes,
  #primary,
  #timeline {
    padding: 0;
  }

  /* GRID DISPLAY IN LAPTOP MODE */
  .charter-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: #000fff;
  }

  /* FLEX DISPLAY AND MARGIN ICON */

  .goal-item,
  .member,
  .primary-item,
  .scopes-content,
  .project-progress {
    display: flex;
    align-items: center;
  }

  .goal-item i,
  .member i,
  .primary-item i,
  .project-progress p:first-child {
    margin: 0 10px 0 0;
  }

  /* GOALS */
  #goals {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .goal-item i {
    margin: 0 30px 0 10px;
  }

  /* TEAM */
  #team {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  /* SCOPES */
  #scopes {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .in,
  .out {
    padding-right: 20px;
  }

  /* PRIMARY */
  #primary {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  /* TIMELINE */
  #timeline {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}
